<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{{baseUrl}}}/{{css}}" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div id="content">
      <div>
        <a href='{{{baseUrl}}}'>/</a>
      </div>

      <h2>{{ title }}</h2>
      <sub>{{date}}</sub>
      {{{content}}}
    </div>
  </body>
</html>
