<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{{baseUrl}}}/{{css}}" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div id="content">{{{content}}}</div>
  </body>
</html>
